Event/event_designer/event_designer/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52757/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52757/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52757/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
      <xsd:import schemaLocation="http://localhost:52757/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IService1_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_is_validAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:is_validAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_is_validAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:is_validAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelEvent" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isvalid_InputMessage">
    <wsdl:part name="parameters" element="tns:isvalid" />
  </wsdl:message>
  <wsdl:message name="IService1_isvalid_OutputMessage">
    <wsdl:part name="parameters" element="tns:isvalidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchCancel_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCancel" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchCancel_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCancelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Chngpass_InputMessage">
    <wsdl:part name="parameters" element="tns:Chngpass" />
  </wsdl:message>
  <wsdl:message name="IService1_Chngpass_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChngpassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAllUser" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddImg_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImg" />
  </wsdl:message>
  <wsdl:message name="IService1_AddImg_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImgResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAll" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Search" message="tns:IService1_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchResponse" message="tns:IService1_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddEvent" message="tns:IService1_AddEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddEventResponse" message="tns:IService1_AddEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="is_validAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/is_validAdmin" message="tns:IService1_is_validAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/is_validAdminResponse" message="tns:IService1_is_validAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CancelEvent" message="tns:IService1_CancelEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CancelEventResponse" message="tns:IService1_CancelEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddUser" message="tns:IService1_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddUserResponse" message="tns:IService1_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isvalid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isvalid" message="tns:IService1_isvalid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isvalidResponse" message="tns:IService1_isvalid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCancel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchCancel" message="tns:IService1_SearchCancel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchCancelResponse" message="tns:IService1_SearchCancel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUser" message="tns:IService1_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserResponse" message="tns:IService1_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Chngpass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Chngpass" message="tns:IService1_Chngpass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChngpassResponse" message="tns:IService1_Chngpass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchAllUser" message="tns:IService1_SearchAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchAllUserResponse" message="tns:IService1_SearchAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddImg">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddImg" message="tns:IService1_AddImg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddImgResponse" message="tns:IService1_AddImg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchAll" message="tns:IService1_SearchAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchAllResponse" message="tns:IService1_SearchAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IService1/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="http://tempuri.org/IService1/AddEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="is_validAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/is_validAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelEvent">
      <soap:operation soapAction="http://tempuri.org/IService1/CancelEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isvalid">
      <soap:operation soapAction="http://tempuri.org/IService1/isvalid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCancel">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chngpass">
      <soap:operation soapAction="http://tempuri.org/IService1/Chngpass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAllUser">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImg">
      <soap:operation soapAction="http://tempuri.org/IService1/AddImg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAll">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:52757/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>